.container {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}
h4 {
    font-size: medium;
}
small {
    font-size: small;
}

.title{
    margin: .5em 0;
}

a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    flex-direction: row;
}
.flex-item{
    flex: 1;
}