.menu {
    display: flex;
    flex-direction: row;
}

.menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: flex-end;

}

.menu > ul > li {
    float: left;
}

.menu > ul > li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu > ul > li a:hover {
    background-color: red;
}

.menu > ul > li.dropdown {
    display: inline-block;
}
